# 3.2 Skills/Wrangling

In this notebook, we will focus on two essential skills in data analysis:

1. The ability to add select, aggregate and transform data in a dataframe (**part 1**)
2. The ability to get insights about a dataset by means of plotting and summary statistics (**part 2**)

## Part 1

### Imports

In [1]:
import pandas as pd

### Load dataset

Let's read in a CSV file containing an export of [Elon Musk's tweets](https://twitter.com/elonmusk), exported from Twitter's API.

In [128]:
dataset_path = '../data/musk_tweets/elonmusk_tweets.csv'
df = pd.read_csv(dataset_path)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2819 entries, 0 to 2818
Data columns (total 3 columns):
id            2819 non-null int64
created_at    2819 non-null object
text          2819 non-null object
dtypes: int64(1), object(2)
memory usage: 66.1+ KB

In [130]:
df.set_index('id', drop=True, inplace=True)

Let's give this dataset a bit more structure:
- the `id` column can be transformed into the dataframe's index, thus enabling us e.g. to select a tweet by id;
- `created_at` contains a timestamp, thus it can easily be converted into a `datetime` value
- but what's going on with the text column ??

In [131]:
df.created_at = pd.to_datetime(df.created_at)

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2819 entries, 849636868052275200 to 15434727182
Data columns (total 2 columns):
created_at    2819 non-null datetime64[ns]
text          2819 non-null object
dtypes: datetime64[ns](1), object(1)
memory usage: 66.1+ KB

### Selection

An operation on dataframes that you'll find yourself doing very often is to rename the columns.

In [135]:
df.head()

,created_at,text
id,,
849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [136]:
df.columns = ['created_at', 'tweet']

In [137]:
df.head()

,created_at,tweet
id,,
849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [138]:
df = df.rename(columns={"tweet": "text"})

In [139]:
df.head()

,created_at,text
id,,
849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

### Transformation

- add a column with link to original tweet
- add a column with links contained in tweet
- add a column with mentions
- add a column with tweet's length (chars)

In [124]:
import re

def find_mentions(tweet_text):
    handle_regexp = r'@[a-zA-Z0-9_]{1,15}'
    return re.findall(handle_regexp, tweet_text)

In [125]:
df['tweet_mentions'] = df.text.apply(find_mentions)

In [126]:
df['n_mentions'] = df.tweet_mentions.apply(len)

In [127]:
df.head()

,created_at,text,tweet_mentions,n_mentions
id,,,,
849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...,[],0
848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa...","[@ForIn2020, @waltmossberg, @mims, @defcon_5]",4
848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'","[@waltmossberg, @mims, @defcon_5]",3
848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...',[],0
848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ...","[@DaveLeeBBC, @verge]",2

### Aggregation

- number of tweets by hour of the day
- number of tweets by day of the week

#### Grouping

#### Sorting

In [143]:
df.sort_values(by='created_at', ascending=True)

,created_at,text
id,,
15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some..."
142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o..."
142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...
142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T..."
142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw'
143171132814671872,2011-12-04 03:33:52,b'Am reading a great biography of Ben Franklin...
149435658115612672,2011-12-21 10:26:51,"b'Read ""Lying"", the new book by my friend Sam ..."
149436471764459520,2011-12-21 10:30:05,b'Sam Harris also wrote a nice piece on the aw...
149439686702661632,2011-12-21 10:42:52,"b""Why does the crowd cry over the glorious lea..."
149441101684686848,2011-12-21 10:48:29,b'His singing and acting talent will be sorely...
149444078210256896,2011-12-21 11:00:19,b'Got called randomly by Kanye West today and ...
149447517325635584,2011-12-21 11:13:59,"b'Yeah, this really is me, as my Mom @mayemusk..."
149629518267695104,2011-12-21 23:17:11,b'Yum! Even better than deep fried butter: htt...
149688828599349251,2011-12-22 03:12:52,b'Raul Campos invited me to do a guest DJ gig ...
149787827712958464,2011-12-22 09:46:16,"b""Hi, I'm Art Garfunkel. Have you heard the so..."
149813972915339264,2011-12-22 11:30:10,b'Model S options are out! Performance in red ...
150387544402575360,2011-12-24 01:29:19,b'Kanye stopped by the SpaceX rocket factory t...
150388617246801920,2011-12-24 01:33:35,b'We had a long and interesting conversation o...
150390624552615937,2011-12-24 01:41:33,b'The Russians are having some challenges with...
151151777662779392,2011-12-26 04:06:06,b'I'
151317672217419777,2011-12-26 15:05:19,b'Single character Tweets are the ulitmate ext...
151322293174419456,2011-12-26 15:23:40,b'Just returned from a trip to Haiti. Covered ...
151327734843445249,2011-12-26 15:45:18,"b'Met with UNICEF, Doctors Without Borders and..."
151337237429239808,2011-12-26 16:23:04,"b""It was Xmas, so we brought presents for the ..."
151338939389706242,2011-12-26 16:29:50,b'Walked around a neighborhood recently rebuil...
151752772809801728,2011-12-27 19:54:15,b'RT @TheOnion: Vending Machine Attendant Admi...
151809315026636800,2011-12-27 23:38:55,b'If you ever wanted to know the *real* truth ...
152153637639028736,2011-12-28 22:27:08,b'@TheOnion So true :)'
152154308710899713,2011-12-28 22:29:48,b'RT @TheOnion: Any Idiot Could Have Come Up W...
152311993636892672,2011-12-29 08:56:23,b'@kanyewest Just returned from Haiti. For tho...
...,...,...
847234747747020800,2017-03-29 23:51:19,"b'If you just downloaded V8.1, tap the the T o..."
847259545755820033,2017-03-30 01:29:51,b'Made today on Tesla sketch pad https://t.co/...
847510437054877698,2017-03-30 18:06:48,b'RT @SpaceX: Falcon 9 and SES-10 vertical on ...
847561780532523008,2017-03-30 21:30:50,b'RT @SpaceX: ~60 minutes until launch window ...
847580067446345728,2017-03-30 22:43:30,b'RT @SpaceX: Falcon 9 first stage has landed ...
847594208219336705,2017-03-30 23:39:41,b'Incredibly proud of the SpaceX team for achi...
847608431582208000,2017-03-31 00:36:12,b'@BadAstronomer @SpaceX Thanks Phil!'
847610880506208257,2017-03-31 00:45:56,b'RT @SpaceX: More photos from today\xe2\x80\x...
847881536254955521,2017-03-31 18:41:25,b'@oxfordteddy Browser is already a little bet...
847882289581359104,2017-03-31 18:44:25,b'Considering trying to bring upper stage back...
847882909906341888,2017-03-31 18:46:53,b'Falcon Heavy test flight currently scheduled...
847883435100299267,2017-03-31 18:48:58,"b'@redletterdave Good point, odds go from 0% t..."
847884351375372288,2017-03-31 18:52:36,b'@Cardoso Silliest thing we can imagine! Secr...
847884413706874880,2017-03-31 18:52:51,b'@cheron A lot'
847884776719740928,2017-03-31 18:54:18,"b""@jasonlamb Looks like it could do 20% more w..."
847890916048338946,2017-03-31 19:18:42,b'@tesla_addict @TeslaMotors Working on it'
847958571895619584,2017-03-31 23:47:32,b'@BadAstronomer We can def bring it back like...
848036043240636417,2017-04-01 04:55:23,"b'@adamsbj Def P100D with Ludicrous+, although..."
848239664536223745,2017-04-01 18:24:30,b'RT @ProfBrianCox: This is extremely importan...
848239928043491328,2017-04-01 18:25:33,"b""RT @OpenAI: We've created the world's first ..."
848243350993895424,2017-04-01 18:39:09,b'Technology breakthrough: turns out chemtrail...
848244577521647616,2017-04-01 18:44:01,"b""Why did we waste so much time developing sil..."
848398971139629057,2017-04-02 04:57:31,b'@SuperCoolCube Pretty good'
848415356263702528,2017-04-02 06:02:38,"b""@verge It won't matter"""
848415731502923777,2017-04-02 06:04:07,"b""@Lexxxzis It's just a helicopter in helicopt..."
848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...

## Part 2